<header class="header">
  <div class="container">
    <ul class="nav nav-pills pull-right">
      <li role="presentation" class="active"><a href="#home">Home</a></li>
      <li role="presentation"><a href="#arbeitsweise">Arbeitsweise</a></li>
      <li role="presentation"><a href="#ueber-mich">Über mich</a></li>
      <li role="presentation"><a href="#kosten">Kosten</a></li>
      <li role="presentation"><a href="#kooperationen">Kooperation</a></li>
    </ul>
  </div>
</header>

<div class="container">