<div class="col-xs-4">
  <img src="{{ site.baseurl }}/assets/images/test3.jpg" alt="Christina Hartl Hörker" class="portrait">
</div>
<div class="col-xs-8">
  <ul class="skills">
    <li>Klinische<span class="ampersand">&amp;</span>Gesundheitspsychologin</li>
    <li>Arbeitspsychologin</li>
    <li>Klinische Hypnose</li>
    <li>Entspannungstrainerin</li>
    <li>Mentalcoach </li>
  </ul>

  <img class="signature" src="{{ site.baseurl }}/assets/images/signature.png" alt="Christina Hartl Hörker">
</div>
