<div class="navigation" id="navigation">
  <a class="sidebar-logo" aria-hidden="true"></a>
  <ul class="nav nav-pills nav-stacked">
    <li class="active" role="presentation"><a href="#home">Home</a></li>
    <li role="presentation"><a href="#arbeitsweise">Arbeitsweise</a></li>
    <li role="presentation"><a href="#ueber-mich">Über mich</a></li>
    <li role="presentation"><a href="#kosten">Kosten</a></li>
    <li role="presentation"><a href="#kooperationen">Kooperationen</a></li>
  </ul>
</div>