.navigation {
  overflow: hidden;
  position: fixed;
}

.nav {
  text-align: right;

  & > li {

    & > a {
      padding: 5px $grid-gutter-width / 2;
      color: lighten($body-color, 30%);

      &:hover,
      &:focus {
        background: none;
      }
    }

    &.active {

      > a,
      > a:focus,
      > a:hover {
        background: none;
        color: $body-color;
      }
    }
  }
}

.header {
  margin-bottom: 2em;
  background: $blue;
  padding: 2em 0;
}

.logo {
  text-align: right;

  img {
    background: $brand-primary;
  }
}