.header {
  background: $header-bg;
  min-height: 200px;

  a {
    color: $white;
    text-transform: uppercase;

    &:hover {
      color: $link-color;
    }
  }

  .nav-pills {
    margin-top: 20px;
  }

  .nav-pills > li.active > a,
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background: $white;
    color: $link-color;
  }
}